* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  height: 100%;
  }

  header {
    padding: 60px;
    text-align: left;
    background: #13293d;
    color: #fff;
  }
  
.avatar img { 
  height: 50px;
  width: 50px;
 text-align: left;
display: flex;
}

  nav li {
    display: inline;
    list-style-type: none;
    text-decoration: none
    padding: 14px 20px;
      }

  nav {
   display: flex;
    box-sizing: border-box;
    padding: 0px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: right;
  }
  
  main {
    display: flex;
  }
  
  aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }

  .gallery-item #horiseon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }
    
  .gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }

  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #772014
  }
  
  /* Tablets - header changes color */
  @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  